#header
  #logo
  #stats
  #status
    = haml (:status, :layout => false)
%div.clear
#library
  %h1 queue a song
  #artistlist
    - @@library.each_pair do |artist,albums|
      %h2 #{artist}
      - albums.each_pair do |album,tracks|
        .album
          %h3 #{album}
          %ol
            - tracks.each do |song|
              %li 
                %a{:href=>"/add/#{song.file}"} #{song.title}
#queue
  %h1 playlist
  - if @@queue_end > @playlist_position
    %ol
      - for i in @playlist_position+1 .. @@queue_end-1
        %li #{@playlist[i].artist} - #{@playlist[i].title}